.loginbutton {
    text-align: center;
    margin-bottom: 0;
}

.loginbutton a {
    display: inline-block;
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff !important;
}

.errornote :last-child {
    margin-bottom: 0;
}

.errorcode {
    color: rgba(0,0,0,0.5) !important;
    font-size: 12px;
}

.errorcode code {
    color: rgba(0,0,0,0.5) !important;
}